.navbar {
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    display: flex;
}
.spacer {
    width: 100%;
    height: 110px;
    top: 0;
    }
body {
    margin: 0;
}
#logo {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    animation: drop 1s ease 0s 1 normal none;
}
.hidden {
    display: none;
}
.header {
    align-items: center;
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: space-between;
}
.tabs {
    align-items: center;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}
.title{
    padding-left: 2%;
    padding-right: 5%;
    line-height: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
.eboards {
    display: inline;
}
.section  {
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

.eboard-profile {
    width: 40%;
    height: 20%;
    transition: 1s;
    overflow: hidden;
}
.eboard-profile:hover {
    width: 100%;
    height: 50%;
}
.connect-logo {
    width: 20%;
    transition: 1s;
    overflow: hidden;
}
.connect-logo:hover {
    width: 30%;
}
.connect-container {
    align-content: center;
    width: 50%;
    margin-left: 28%;
}

.eboard-photo {
    width: 30%;
    height: 100%;
}
.eboard-info {
    margin-left: 0px;
    display: inline-block;
    height: 100%;
    width: 50%;
    margin-bottom: 10px;
}
.sponsor {
    margin-left: auto;
    width: 40%;
    margin-right: auto;
    display: block;
}
.center-text{
    text-align: center;
}

@keyframes drop {
    0% {
        margin-left: 100px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}